# Q 1.

## Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
df.iloc[[1]]

        course_name  duration
1  Machine Learning         3

# Q 2.

## What is the difference between the functions loc and iloc in pandas.DataFrame?

In Pandas, loc and iloc are used to select and access data from a Pandas DataFrame.

The main difference between loc and iloc is in the way they refer to the rows and columns of the DataFrame.

loc is a label-based selector, which means that you use labels or indexes to select rows and columns. 

iloc, on the other hand, is an integer-based selector, which means that you use integer indexes to select rows and columns.

# Q 3.

## Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
## Did you observe any difference in both the outputs? If so then explain it.
## Consider the below code to answer further questions:

In [3]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.294807  0.061560  0.513052  0.255179  0.222214  0.368597
2  0.059560  0.068156  0.628601  0.144216  0.360623  0.870937
3  0.040352  0.020635  0.992275  0.002938  0.378227  0.742013
4  0.201794  0.943204  0.671956  0.590714  0.875075  0.818233
5  0.094025  0.810801  0.769127  0.950968  0.869128  0.709090
6  0.328112  0.541669  0.942706  0.919565  0.887987  0.225648

In [4]:
reindex = [3,0,1,2]
new_df = df1.reindex(reindex)
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.040352  0.020635  0.992275  0.002938  0.378227  0.742013
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.294807  0.061560  0.513052  0.255179  0.222214  0.368597
2  0.059560  0.068156  0.628601  0.144216  0.360623  0.870937

In [5]:
new_df.loc[2]

column_1    0.059560
column_2    0.068156
column_3    0.628601
column_4    0.144216
column_5    0.360623
column_6    0.870937
Name: 2, dtype: float64

In [6]:
new_df.iloc[2]

column_1    0.294807
column_2    0.061560
column_3    0.513052
column_4    0.255179
column_5    0.222214
column_6    0.368597
Name: 1, dtype: float64

new_df.loc[2] gives output of basis on the position which you giv in the function where as new_df.iloc[2] gives output basis on the index which you have mentioned in the function .

# Q 4.

## Write a code to find the following statistical measurements for the above dataframe df1:
### (i) mean of each and every column present in the dataframe.
### (ii) standard deviation of column, ‘column_2’

In [7]:
#Mean of every column 
df1.mean()

column_1    0.169775
column_2    0.407671
column_3    0.752953
column_4    0.477263
column_5    0.598876
column_6    0.622420
dtype: float64

In [8]:
#Standard daviation of column 2
df1['column_2'].std()

0.4128257269988235

# Q 5.

## Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

In [9]:
df1.loc[2,'column_2'] = 'HELLO'

In [10]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

It showing error because mean operation is only applicable for integer and float data types but in column_2 there is a string data type. so , the mean function is unable to calculate and throwing an ERROR.

# Q 6.

## What do you understand about the windows function in pandas and list the types of windows functions?

In Pandas, the rolling method is used to create a rolling window object which can be used to apply various window functions to the data. The window function is applied to a rolling window of a specified size, which moves along the time series data.

The rolling method can be used with various window functions like mean, sum, std, var, min, max, median, quantile, corr, cov, apply, and aggregate.

There are mainly two types of window functions in Pandas:

Rolling Window Functions:
The rolling window functions are applied on a fixed-size rolling window over a time series data. It moves over the data with a specified window size and provides a new set of aggregated values at each time step. The rolling window functions include rolling(), expanding(), and ewm().

Expanding Window Functions:
The expanding window functions include cumsum(), cumprod(), cummax(), cummin(), and expanding(). These functions apply the same operation cumulatively over the data, i.e., they consider all the values in the data from the start of the time series up to the current time step.

# Q 7.

## Write a code to print only the current month and year at the time of answering this question.

In [11]:
pd.datetime(2022,4,17)

C:\Users\ayanm\AppData\Local\Temp\ipykernel_14804\2384661825.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime(2022,4,17)

datetime.datetime(2022, 4, 17, 0, 0)

# Q 8.

## Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [12]:

start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")


start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)


time_diff = end_date - start_date


days_diff = time_diff.days
hours_diff = time_diff.seconds // 3600
minutes_diff = (time_diff.seconds % 3600) // 60


print(f"The difference between {start_date.date()} and {end_date.date()} is {days_diff} days, {hours_diff} hours, and {minutes_diff} minutes.")

Enter the start date (YYYY-MM-DD): 2022-09-02
Enter the end date (YYYY-MM-DD): 2023-09-05
The difference between 2022-09-02 and 2023-09-05 is 368 days, 0 hours, and 0 minutes.

# Q 11.

## You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [13]:
data = pd.DataFrame({'student_id':[1,2,3,4,5,6,7,8,9,10],
                      'test_score':[85,90,80,75,85,82,78,85,90,85]},)
data

   student_id  test_score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [16]:
values =[data['test_score'].mean(),data['test_score'].median(),data['test_score'].mode()]
Statistics =['Mean','Median','Mode']

pd.DataFrame({"statistics": Statistics,'values':values})

  statistics                                  values
0       Mean                                    83.5
1     Median                                    85.0
2       Mode  0    85
Name: test_score, dtype: int64